.ProjectDetailsContainer{
    position: relative;
    .projectDetailsAddBtn{
        padding: 5px 10px;
        font-size: 12px;
        color: white;
        background-color: royalblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .projectDetailsEditBtn{
        position: absolute;
        right: 6rem;
        padding: 2px 10px;
        font-size: 12px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .projectDetailsDeleteBtn{
        position: absolute;
        right: 1rem;
        padding: 2px 10px;
        font-size: 12px;
        color: white;
        background-color: red;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}