.adminPageMainContainer {
    width: 100vw;
    display: flex;
    
    .AdminPageContainer {
        width: calc(100vw - 15rem);
        height: calc(100vh - 4rem);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem 1rem 2rem;
        overflow: scroll;
        background-color: rgb(251, 251, 226);

        .adminFormContainer{
            width: 100%;
            .adminForm{
                background-color: white;
                width: 100%;
                padding: 1.5rem 3rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 0.8rem;
                column-gap: 5rem;
                // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                border-radius: 10px;
                .labelInput{
                    display: flex;
                    flex-direction: column;
                    label{
                        font-weight: 500;
                    }
                    input{
                        outline: none;
                        border-radius: 5px;
                        border: 1px solid gray;
                        height: 2rem;
                        padding-left: 5px;
                        font-size: 13px;
                    }
                    select{
                        outline: none;
                        border: 1px solid gray;
                        border-radius: 5px;
                        height: 2rem;
                    }
                }
                .adminBtn{
                    width: 8rem;
                    height: 2.2rem;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: royalblue;
                    color: white;
                    border-radius: 5px;
                    margin-top: 0.5rem;
                    font-size: 14px;
                }
                .adminBtn:hover{
                    cursor: pointer;
                    background-color: white;
                    font-weight: 600;
                    border: 2px solid royalblue;
                    color: royalblue;
                }
                #box3{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: calc(50% - 2.5rem);
                }
            }
        }

        .correctionPageLink {
            width: 15rem;
            height: 2.5rem;
            outline: none;
            border: none;
            background-color: black;
            color: white;
            font-size: 15px;
            font-weight: 600;
        }

        .correctionPageLink:hover {
            cursor: pointer;
            background-color: white;
            color: black;
            border: 2px solid black;
        }

        .goToChatBtn {
            width: 2.5rem;
            height: 2.5rem;
            border: 2px solid gray;
            cursor: pointer;
            border-radius: 50%;
            padding: 7px;
        }
    }
}