.InternshipDetailsMainContainer {
    // position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 3rem 5rem 0 5rem;

    .internshipDetailsTitle {
        display: flex;
        margin-left: 3rem;
        font-size: 35px;
    }

    .internshipDetailsAddBtn {
        padding: 0.6rem 1rem;
        font-size: 13px;
        color: white;
        background-color: royalblue;
        border: none;
        align-self: flex-start;
        cursor: pointer;
    }

    .internshipDetailsAddBtn:hover {
        background-color: white;
        color: royalblue;
        cursor: pointer;
        border: 2px solid royalblue;
        font-weight: 600;
    }

    .internshipDetailsContainer {
        width: 100%;
        height: fit-content;
        padding: 2.5rem 2.5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        position: relative;
        margin: 1rem 0 2rem 0;

        .internshipDetailsEditBtn {
            position: absolute;
            top: 1vh;
            right: 8vw;
            width: 1.7rem;
            height: 1.7rem;
            padding: 4px;
            color: blue;
        }

        .internshipDetailsEditBtn:hover {
            background-color: royalblue;
            color: white;
            cursor: pointer;
            border-radius: 50%;
        }

        .internshipDetailsDeleteBtn {
            position: absolute;
            top: 1vh;
            right: 3vw;
            width: 1.7rem;
            height: 1.7rem;
            padding: 4px;
            color: rgb(156, 5, 5);
            cursor: pointer;
        }

        .internshipDetailsDeleteBtn:hover {
            background-color: rgb(156, 5, 5);
            color: white;
            cursor: pointer;
            border-radius: 50%;
        }

        #internshipTitle {
            display: flex;
            font-size: 23px;
            font-weight: bold;
            gap: 5px;

            #internshipType {
                font-weight: 400;
            }
        }

        #internshipOrganisation {
            margin-top: 0.2rem;
            font-size: 19px;
            font-weight: 500;
        }

        #internshipDuration {
            font-size: 12px;
        }

        #internshipDescription {
            margin-top: 0.5rem;
            font-size: 13px;
            white-space: pre-line;
        }

        #internshipGuideName {
            margin-top: 1.5rem;
            font-size: 17px;
            font-weight: 400;
        }

        #internshipGuideDesignation {
            font-size: 14px;
            font-weight: 600;
        }

        #internshipGuideOrganisation {
            font-size: 14px;
            font-weight: 500;
        }

        .ContainerToUploadInternshipPdf {
            width: 25vw;
            height: 15vh;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            border: 2px dashed black;
            margin-top: 1rem;

            .PdfFileUploadTitle {
                font-size: 12px;
                font-weight: 400;
            }

            .PdfFileUploadButton {
                font-size: 10px;
                font-weight: 500;
                padding: 5px 10px;
                border: 1px solid royalblue;
                background-color: white;
                color: royalblue;
            }

            .PdfFileUploadButton:hover {
                cursor: pointer;
                background-color: royalblue;
                color: white;
            }
        }

        .viewPdfBox {
            display: flex;
            gap: 2rem;
            margin-top: 1rem;

            .PdfAndTitleBox {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                height: fit-content;
                width: 8rem;

                .InternshipViewPdfBtn {
                    height: 5rem;
                    width: 5rem;
                    object-fit: contain;
                    cursor: pointer;
                }

                .ViewPdfTitle {
                    font-size: 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .commentContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.5rem;

            .addCommentBtn {
                font-size: 12px;
                outline: none;
                border: none;
                background-color: royalblue;
                color: white;
                width: 10rem;
                height: 2rem;
            }

            .addCommentBtn:hover {
                cursor: pointer;
                background-color: white;
                border: 2px solid royalblue;
                color: royalblue;
                font-weight: 600;
            }

            .noOfComments {
                font-size: 15px;
            }

            .noOfComments:hover {
                cursor: pointer;
                color: royalblue;
                font-weight: 600;
            }

            .commentInputBox {
                width: 70%;
                .commentForm {
                    width: 100%;
                    display: flex;
                    .commentInput {
                        width: 90%;
                        height: 2rem;
                        outline: none;
                        font-size: 12px;
                        padding-left: 5px;
                    }

                    .commentInsertBtn {
                        width: 10%;
                        height: 2rem;
                        border: none;
                        outline: none;
                        background-color: royalblue;
                        color: white;
                        font-size: 11px;
                    }
                }
            }

        }
    }
}