.InternshipDetailsContainer {
    position: relative;

    .internshipDetailsAddBtn {
        padding: 5px 10px;
        font-size: 12px;
        color: white;
        background-color: royalblue;
        border: none;
        // border-radius: 5px;
        cursor: pointer;
    }

    .internshipDetailsAddBtn:hover {
        background-color: white;
        color: royalblue;
        cursor: pointer;
        border: 2px solid royalblue;
        font-weight: 600;
    }

    .internshipDetailsEditBtn {
        position: absolute;
        right: 6rem;
        width: 1.7rem;
        height: 1.7rem;
        padding: 4px;
        color: blue;
    }

    .internshipDetailsEditBtn:hover {
        background-color: royalblue;
        color: white;
        cursor: pointer;
        border-radius: 50%;
    }

    .internshipDetailsDeleteBtn {
        position: absolute;
        right: 3rem;
        width: 1.7rem;
        height: 1.7rem;
        padding: 4px;
        color: rgb(156, 5, 5);
        cursor: pointer;
    }

    .internshipDetailsDeleteBtn:hover {
        background-color: rgb(156, 5, 5);
        color: white;
        cursor: pointer;
        border-radius: 50%;
    }

    #internshipTitle {
        display: flex;
        font-size: 23px;
        font-weight: bold;
        gap: 5px;

        #internshipType {
            font-weight: 400;
        }
    }

    #internshipOrganisation {
        margin-top: 0.2rem;
        font-size: 19px;
        font-weight: 500;
    }

    #internshipDuration {
        font-size: 12px;
    }

    #internshipDescription {
        margin-top: 0.5rem;
        font-size: 13px;
        white-space: pre-line;
    }

    #internshipGuideName {
        margin-top: 1.5rem;
        font-size: 17px;
        font-weight: 400;
    }

    #internshipGuideDesignation {
        font-size: 14px;
        font-weight: 600;
    }

    #internshipGuideOrganisation {
        font-size: 14px;
        font-weight: 500;
    }

    .ContainerToUploadInternshipPdf {
        width: 25vw;
        height: 15vh;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        border: 2px dashed black;

        .PdfFileUploadTitle {
            font-size: 12px;
            font-weight: 400;
        }

        .PdfFileUploadButton {
            font-size: 10px;
            font-weight: 500;
            padding: 5px 10px;
            border: 1px solid royalblue;
            background-color: white;
            color: royalblue;
        }

        .PdfFileUploadButton:hover {
            cursor: pointer;
            background-color: royalblue;
            color: white;
        }
    }

    .viewPdfBox {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;

        .PdfAndTitleBox {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            height: fit-content;
            width: 8rem;

            .InternshipViewPdfBtn {
                height: 5rem;
                width: 5rem;
                object-fit: contain;
                cursor: pointer;
            }

            .ViewPdfTitle {
                font-size: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}