.AdminStudentProfilePage_MainContainer{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    // position: relative;
    // background-color: rgb(251, 251, 226);
    .markForCorrection{
        width: 10rem;
        height: 2.5rem;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        margin-right: 2rem;
        margin-top: 1rem;
        font-size: 13px;
        font-weight: 500;
        // position: absolute;
        // top: 1rem;
        // right: 2rem;
        background-color: red;
        color: white;
    }
    .markForCorrection:hover{
        cursor: pointer;
        border: 2px solid red;
        background-color: white;
        color: red;
       font-weight: 600;
    }
    .allCorrect{
        width: 8rem;
        height: 2.5rem;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        margin-right: 2rem;
        margin-top: 1rem;
        font-size: 13px;
        font-weight: 500;
        // position: absolute;
        // top: 1rem;
        // right: 2rem;
        background-color: green;
        color: white;
    }
    .allCorrect:hover{
        cursor: pointer;
        border: 2px solid green;
        background-color: white;
        font-weight: 600;
        color: green;
    }
}