@import "../../css-config/mixins.scss";

.login_Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    // background: linear-gradient(120deg, #092143, #009ffd);
    background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%);
    position: absolute;
    top: 0;
    left: 0;

    .goToAdmin {
        font-size: 15px;
        font: 600;
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }

    .goToAdmin:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .login_form {
        display: flex;
        flex-direction: column;
        width: 32rem;
        align-items: center;
        background-color: white;
        padding: 4vh 3vw;
        border-radius: 5px;

        .formHeading {
            font-size: 35px;
            font-weight: bolder;
            margin-bottom: 2rem;
        }

        .labelInput {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.5rem;
            margin-bottom: 1rem;

            label {
                font-size: 20px;
                font-weight: 600;
            }

            input {
                font-size: 18px;
                outline: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid #092143;
                height: 1.7rem;
            }

            .password_container {
                position: relative;

                .password_input {
                    font-size: 18px;
                    outline: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 2px solid #092143;
                    height: 1.7rem;
                    width: 100%;

                }

                .icon {
                    position: absolute;
                    right: 0;
                    top: -0.5rem;
                    cursor: pointer;
                    width: 2vw;
                    height: 3vh;
                }
            }

            .error {
                font-size: 13px;
                color: red;
                font-weight: 600;
            }
        }

        .login_btn {
            width: 12rem;
            height: 2.8rem;
            border: none;
            background-color: #092143;
            outline: none;
            color: white;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 3px;
        }

        .registerLink_Box {
            display: flex;
            font-size: 15px;
            gap: 5px;

            .register_Link {
                color: #092143;
                cursor: pointer;
                font-weight: 600;
                text-decoration: none;
            }

            .register_Link:hover {
                text-decoration: underline;
            }
        }
    }
}