@import "../../css-config/mixins.scss";

.login_Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    // background: linear-gradient(120deg, #092143, #009ffd);
    // background-color: rgb(251, 251, 226);
    background-image: url('../../Assets/NN3.jpg');
    position: absolute;
    top: 0;
    left: 0;

    .goToAdmin {
        font-size: 15px;
        font: 600;
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }

    .goToAdmin:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .login_form {
        display: flex;
        flex-direction: column;
        width: 30rem;
        align-items: center;
        // background-color: white;
        padding: 4vh 3vw;
        border-radius: 5px;
        // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        background: transparent;
        backdrop-filter: blur(5px);
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        .formHeading {
            font-size: 35px;
            font-weight: bolder;
            margin-bottom: 2rem;
        }

        .labelInput {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.5rem;
            margin-bottom: 1rem;

            label {
                font-size: 20px;
                font-weight: 600;
            }

            input {
                font-size: 18px;
                background: transparent;
                border: none;
                outline: none;
                border: 2px solid rgba(225, 225, 225, 0.2);
                height: 2rem;
                padding-left: 5px;
                color: white;
            }

            .password_container {
                position: relative;

                .password_input {
                    font-size: 18px;
                    background: transparent;
                    border: none;
                    outline: none;
                    border: 2px solid rgba(225, 225, 225, 0.2);
                    height: 2rem;
                    width: 100%;
                    padding-left: 5px;
                color: white;

                }

                .icon {
                    position: absolute;
                    right: 0.5rem;
                    top: 0.3rem;
                    cursor: pointer;
                    width: 2vw;
                    height: 3vh;
                }
            }

            .error {
                font-size: 13px;
                color: white;
                font-weight: 600;
            }
        }

        .login_btn {
            width: 12rem;
            height: 2.8rem;
            border: none;
            background-color: rgb(192, 115, 15);
            outline: none;
            color: white;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 3px;
        }

        .registerLink_Box {
            display: flex;
            font-size: 15px;
            gap: 5px;

            .register_Link {
                color: #092143;
                cursor: pointer;
                font-weight: 600;
                text-decoration: none;
            }

            .register_Link:hover {
                text-decoration: underline;
            }
        }
    }
}