.NavbarMainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.5rem;
    height: 4rem;
    color: white;
    background-color: rgb(40, 40, 43);
    .title{
        font-size: 30px;
        font-weight: 400;
        word-spacing: 10px;
    }
    .logoutBtn{
        width: 7rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        border-radius: 7px;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
    }
    .logoutBtn:hover{
        box-shadow: white 0px 0px 15px;
    }
}